<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hra.hourregistrationapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/login_image_clock"
        android:label="Hour Registration App"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Ui.home.HomeActivity"
            android:label="Hour Registration App"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <!--<intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
       </activity>
       <activity
           android:name=".Ui.registration.RegisterActivity"
           android:exported="true" />
       <activity
           android:name=".Ui.setup.MainActivity"
           android:exported="true"
           android:screenOrientation="portrait">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>
       <activity
           android:name=".Ui.registration.AddCompanyActivity"
           android:exported="true" />
       <activity android:name=".Ui.popup.Popup" />
       <activity android:name=".Ui.Activity" />
   </application>
</manifest>